<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Garden App</title>
  </head>

  <body>
    <h1>Welcome to the My Garden app!</h1>
    <p>An app for tracking your home plants.</p>
    <a class="plants-index-link" href="/plants">
      <div class="index-link-text">Browse Plants</div>
    </a>
  </body>
</html>
