<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add a Plant</title>
  </head>

  <body>
    <h1>Add a New Plant</h1>

    <form action="/plants" method="POST">
      <label for="name">Plant Name:</label>
      <input type="text" id="name" name="name" required />

      <label for="species">Species: (optional)</label>
      <input type="text" id="species" name="species" />

      <label for="wateringSchedule">Watering Schedule:</label>
      <select id="wateringSchedule" name="wateringSchedule" required>
        <option value="Daily">Daily</option>
        <option value="Every 2 days">Every 2 days</option>
        <option value="Weekly">Weekly</option>
        <option value="Biweekly">Biweekly</option>
        <option value="Monthly">Monthly</option>
      </select>

      <label for="lightRequirements">Light Requirements:</label>
      <select id="lightRequirements" name="lightRequirements" required>
        <option value="Full sun">Full sun</option>
        <option value="Partial sun">Partial sun</option>
        <option value="Shade">Shade</option>
      </select>

      <button type="submit">Add Plant</button>
    </form>

    <a href="/plants">Back to Plant List</a>
    <a href="../../">Back to Home</a>
  </body>
</html>
